.answer-squad
  .user-avatar
    = link_to image_tag(answer.user.avatar_url(:normal), alt: "#{answer.user.name}", class: "u-avatar-small"), person_path(answer.user.name)
  .answer-main.clearfix
    .user-info
      = link_to "#{answer.user.name}", person_path(answer.user.name)
      %span.pull-right
        = answer.modified_time
    .answer-content
      = answer.content.html_safe
    .actions
      = likeable_tag answer
      = render :partial => 'shared/liked_users_list', :locals => { :answer => answer }
      - if answer.user == current_user
        .edit.pull-right
          = link_to '编辑', edit_question_answer_path(answer.question, answer), :class => "btn btn-small"
          = link_to '删除', question_answer_path(answer.question, answer), :confirm => '确定要删除这个问题?', :method => :delete, :class => "btn btn-small btn-danger"
  %hr
