- provide(:title, "#{@question.title}")
#main
  .container
    .row
      #mainbar.span9.box
        .question-field
          .asker-info
            = link_to image_tag(@question.user.avatar_url(:thumb), alt: "#{@question.user.name}", class: "u-avatar-small"), person_path(@question.user.name)
            %span
              = link_to "#{@question.user.name}", person_path(@question.user.name)
              提出了一个问题
            %span.pull-right 
              = @question.modified_time 
          %h2.question-title.font-white #{@question.title}
          .related-players-wrapper.clearfix
            .related-players
              %span.font-white 相关球员
              - if !@related_players.empty?
                %ul.unstyled
                  = render :partial => 'shared/related_player', collection: @related_players
          - if logged_in? && @question.asked_by?(current_user)
            = link_to '编辑', edit_question_path(@question), :class => "btn btn-small"
            - if current_user.admin?
              = link_to '删除', @question, :confirm => '确定要删除这个问题?', :method => :delete, :class => "btn btn-small btn-danger"
          %br
          - if logged_in?
            #actions
              %span             
                - if !@question.answered_by?(current_user)
                  = link_to '回答这个问题', new_question_answer_path(question_id: @question.id), class: "btn btn-info btn-normal"
                - else
                  你已经回答过这个问题了。
          %hr
        .answers-field
          %h3.leading-small.background-blue.font-white
            = @answers.count
            个回答
          .answers 
            - if @answers.empty?
              #place-holder
                %p 这个问题还没有答案额，你来一个吧先！
              %hr
            - else
              = render :partial => 'answer', collection: @answers
              = paginate @answers
      #sidebar.span3.box
        = render 'shared/sidebar'
      
        