#main
  .container
    .row
      .mainbar.span9.box
        .question-field
          .asker
            = link_to image_tag(@question.user.avatar_url(:thumb), alt: "#{@question.user.name}", class: "u-avatar-small"), person_path(@question.user.name)
            %span
              = link_to "#{@question.user.name}", person_path(@question.user.name)
              问了一个问题
              －
              = @question.created_time
          %h2.white #{@question.title}
          - if !@question.related_players.empty?
            .related-players-wrapper.clearfix
              .related-players
                %h4.white 相关球员
                %ul.unstyled
                  - @question.related_players.each do |p|
                    %li.pull-left
                      .avatar-small
                        = link_to image_tag("players/#{p.e_name}.jpg", alt: "#{p.name}"), player_path(id: p.e_name)
        .answers-field
          %h3.white
            = @question.answers.count
            个答案       
          - if @question.answers.empty?
            %p 这个问题还没有答案额，你来一个吧先！
          - else
            = render :partial => 'answer', collection: @question.answers
          = link_to '回答这个问题', new_answer_path(question_id: @question.id), class: "btn"
      .sidebar.span3.box
        .user-profile
          = image_tag current_user.avatar_url(:large), alt: "#{@question.user.name}"
= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
