#main
  = image_tag (image_path('bg_1.jpg')), class: "bg", id: "img1"
  = image_tag (image_path('bg_2.jpg')), class: "bg", id: "img2", style: "display: none;"
  = image_tag (image_path('bg_3.jpg')), class: "bg", id: "img3", style: "display: none;"
  
  //#img3(style="display: none;")
  #wrapper
    #intro-txt.pull-left
      = image_tag image_path('intro-txt.png'), alt: "来吧 和我们说说 属于你的 枪手记忆"
    #login-box.pull-right
      #logo
        = image_tag image_path('logo-v.png'), alt: "Gooner.in - In Arsenal we trust."
      #login-btn
        =link_to '登  录', "#login-modal", class: "btn btn-large btn-primary", style: "width: 139px;", data: { toggle: "modal"}
        %span 
        =link_to '注  册', sign_up_path, class: "btn btn-large btn-success", style: "width: 139px;", data: { toggle: "modal"}
        #{@request}
.modal.hide.fade#login-modal
  .modal-header.background-red
    = button_tag "x", class: "close", data: {dismiss: "modal"}
    %h3.font-white 登录
  .modal-body
    #login-form
      = form_tag sessions_path, method: :post do
        %h4.leading-small.font-white.background-light-red Email:
        = text_field_tag :email
        %h4.leading-small.font-white.background-light-red 密码:
        = password_field_tag :password
        .field
          = submit_tag '登录', class: "btn btn-success"
          = link_to '还没注册？点这里', sign_up_path
    #auth-login
      %h4.leading-normal.font-white.background-light-red 第三方帐号登录
      = render 'shared/auth_links'
    
  
          