#main
  #upper-wrapper
    #intro
      #img1
      #img2(style="display: none;")
      #img3(style="display: none;")
      #intro-txt.pull-left
        %h2 来吧<br>和我们说说<br>属于你的<br>枪手记忆
      #login-box.pull-right
        .logo
          %a Gooner.in
        %span.slogan - In Arsenal we trust.
        #login-btn
          =link_to '登  录', "#login-modal", class: "btn btn-large btn-primary", style: "width: 139px;", data: { toggle: "modal"}
          %span 
          =link_to '注  册', "#signup-modal", class: "btn btn-large btn-success", style: "width: 139px;", data: { toggle: "modal"}
  .h-divider
  #lower-wrapper
    .container
      .row
        .span4.box
          %h3.title-normal.font-white.background-red Gooner.in是什么
          %p
            这是一个属于阿森纳球迷的问答社区。
          %p
            希望它能帮你记录，
          %p
            那些在你生命中时时泛起的，
          %p
            关于阿森纳的点点滴滴。
          %hr
          #fo
            %p
              We do not buy superstars, we make them. Arsene Wenger
        .span8.box
          %h3.title-tiny.font-white.background-red Let it started...
          %p 你可以从下面这个问题开始
          %h4
            = link_to "#{short_question_title(@question)}", question_path(@question), class:"title-large font-white" 
          %p 当然，也可以先看看你关心的球员...
          #hot-players
            %ul.unstyled
              - @players.each do |player|
                %li.pull-left
                  .avatar-normal
                    = link_to image_tag(player.avatar_url, alt: "#{player.name}"), player_path(id: player.e_name)
          %br
.modal.hide.fade#login-modal
  .modal-header.background-red
    = button_tag "x", class: "close", data: {dismiss: "modal"}
    %h3.font-white 登录
  .modal-body
    = form_tag sessions_path, method: :post do
      %h4.leading-small.font-white.background-light-red Email:
      = text_field_tag :email
      %h4.leading-small.font-white.background-light-red 密码:
      = password_field_tag :password
      .field
        = submit_tag '登录', class: "btn btn-success"
        = link_to '还没注册？点这里', sign_up_path
  
          