- provide(:title, "#{@person.name}")
#main
  .container
    .row
      #mainbar.span9.box
        %h1.title-small.white #{@person.name}
        #person-info
          = image_tag @person.avatar_url(:profile), title: "#{@person.name}",alt: "#{@person.name}", class: "pull-left"
          #person-details
            .box-t
              Ta是这样介绍自己的…
            .box-c(style="min-height: 30px; font-size: 14px;")
              我是一个特立独行而缺乏独立行走能力的人，所以我基本上是个废人。
            .box-t
              Ta的微博… <span>Ta还没有绑定咧</span>
            .box-t
              Ta在Gooner.in…
            .box-c
              提出了<span> #{@person.questions.count} </span>个问题，写了<span> #{@person.answers.count} </span>个答案，获得了<span> #{@person.total_likes} </span>个喜欢
          %ul#person-stats
        #person-questions
          .tabbable
            %ul.nav.nav-tabs
              %li.active
                %a(href="#tab1" data-toggle="tab")
                  Ta的回答
              %li
                %a(href="#tab2" data-toggle="tab")
                  Ta的问题
            .tab-content
              .tab-pane.active#tab1
                %ul.unstyled
                  - @person.answers.each do |a|
                    %li
                      .box-a
                        = link_to a.question_title, question_answer_path(a.question, a)
                        %span.pull-right
              .tab-pane#tab2
                %ul.unstyled
                  - @questions.each do |q|
                    %li
                      .box-q
                        %span.tags.white 
                          %em #{q.answers_count}
                          个回答
                        %h4
                          = link_to "#{short_question_title(q)}", question_path(q), class:"title-large white" 
                = link_to '更多', person_questions_path(@person.name), class:"pull-right"


