#mainbar-small.span9.box
  %h3.title-small.font-white.background-dark-blue 密码设置
  #password-settings
    .box-s.font-gray
      - if flash[:success]
        .alert.alert-success(style="width: 35%; margin-top: 10px;")
          %h4.alert-leading 保存成功
          = flash[:success]
      = form_for @user, :url => settings_password_path, :validate => true do |f|
        .field
          = f.label :password, "新密码:"
          = f.password_field :password , :validate => { :confirmation => false }
          = f.label :password_confirmation, "新密码确认:"
          = f.password_field :password_confirmation
        .field
          = f.submit '保存', class: "btn btn-primary"
          #tips.font-red
            %span 保存可就生效了额，考虑好。
    
