#main
  .container
    .row
      #mainbar-small.span8.offset2.box
        #signup-form.pull-left
          %h3.font-dark-blue 你好, Gooner
          = form_for @user, validate: true do |f|
            %h4.leading-small.font-white.background-dark-blue Email:
            = f.text_field :email
            %h4.leading-small.font-white.background-dark-blue 用户名:
            = f.text_field :name
            %h4.leading-small.font-white.background-dark-blue 密码:
            = f.password_field :password , :validate => { :confirmation => false }
            %h4.leading-small.font-white.background-dark-blue 确认密码:
            = f.password_field :password_confirmation
            .field
              = f.submit '创建用户', class: "btn btn-success"
        #auth-login-links
          %p.font-dark-blue 还可以用第三方帐号登录的噢
          = render 'shared/auth_links'