.user-profile.sidebar-wrapper
  %h4.title-small.white 我的资料
  .user-avatar
    = image_tag current_user.avatar_url(:large), alt: "#{current_user.name}"
    = link_to '编辑头像', settings_avatar_path, class: "pull-right"
%hr
%ul.nav.nav-list
  %li{:class => (action_name == 'questions_list' ? 'active' : nil)}
    = link_to '我的问题', person_questions_path(current_user.name)
  %li
    = link_to '我的回答'
  %li
    = link_to '我喜欢的'
%hr