#main
  .container
    .row
      #mainbar.span9.box
        %h2.question-title.font-white #{@question.title}
        .related-players-wrapper.clearfix
          .related-players
            %span.font-white 相关球员
            - if !@question.related_players.empty?
              %ul.unstyled
                = render :partial => 'shared/related_player', collection: @question.related_players.limit(2)
        %h3.font-dark-blue.leading 你的回答
        = form_for @answer, :url => question_answer_path(question_id: @question) do |f|
          = render :partial => 'form', :object => f
          .actions
            = f.submit '更新', class: "btn btn-success", style: "margin-top: 10px;"
      #sidebar.span3.box
        = render 'shared/sidebar'