= form_for @player do |f|
  -if @player.errors.any?
    #error_explanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this player from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :e_name
    = f.text_field :e_name
  .field
    = f.label :nationality
    = f.text_field :nationality
  .fiels
    = f.label :day_of_birth
    = f.date_select :day_of_birth, start_year: 1949, end_year: 2000
  .field
    = f.label :position
    = f.text_field :position
  .actions
    = f.submit 'Save'
