= form_for @player do |f|
  .field
    %h4.leading-tiny.font-white.background-light-red 姓名:
    = f.text_field :name
  .field
    %h4.leading-tiny.font-white.background-light-red 英文名:
    = f.text_field :e_name
  .field
    %h4.leading-tiny.font-white.background-light-red 国籍:
    = f.text_field :nationality
  .field
    %h4.leading-tiny.font-white.background-light-red 生日:
    = f.date_select :day_of_birth, start_year: 1949, end_year: 2000
  .field
    %h4.leading-tiny.font-white.background-light-red 场上位置:
    = f.select :position, ["门将", "后卫", "中场", "前锋", "教练"]
  .field
    %h4.leading-tiny.font-white.background-light-red 在队时间:
    = f.date_select :join, start_year: 1949, end_year: Time.now.year, discard_day: true, discard_month: true
    %span -
    = f.date_select :leave, start_year: 1949, end_year: Time.now.year, discard_day: true, discard_month: true
  .field
    %h4.leading-tiny.font-white.background-light-red 头像:
    = f.file_field :avatar
  .field
    = f.submit '保存', class: "btn btn-primary"
    = link_to '返回', players_path
