- provide(:title, "#{@player.name}")
#main
  .container
    .row
      #mainbar.span9.box
        %section#profile
          .player-info
            .avatar-large.pull-left
              = image_tag "players/#{@player.e_name}.jpg", alt: "#{@player.name}"
            .info-wrapper
              .info-txt
                %h3 #{@player.name}
                %table
                  %thead
                    %tr
                      %th 国籍
                      %th 出生
                      %th 效力
                  %tbody
                    %tr
                      %td #{@player.nationality}
                      %td #{@player.day_of_birth}
                      %td 1990 - 至今
        %section#questions
          .tabbable
            %ul.nav.nav-tabs
              %li.active
                %a
                  关于他的问题
         
          - if @questions.count == 0
            #place-holder
              %p 还没提出过关于他的问题呢。
          - else
            %ul.unstyled
              - @questions.each do |q|
                %li
                  .box-q
                    %span.tags.white 
                      %em #{q.answers_count}
                      个回答
                    %h4
                      = link_to "#{short_question_title(q)}", question_path(q), class:"title-large white"
            = paginate @questions
      #sidebar.span3.box
        - if logged_in?
          = render 'shared/sidebar_profile'
        - else
          = render 'shared/sidebar_login'
        .ask
          %p 问题都没意思？那你问一个
          - if logged_in?
            = link_to "提问", new_question_path, class: "btn btn-primary btn-large"
          - else
            = link_to "提  问", :log_in, class: "btn btn-primary btn-large"
        - if current_user.admin?
          %hr
          .control
            %h3 管理
            %ul.unstyled
              %li
                = link_to '添加', new_player_path
              %li
                = link_to '编辑', edit_player_path(@player)
              %li
                = link_to '删除', @player, method: :delete, confirm: "确定删除？"
        - else
          %br
                
          
          
