- provide(:title, "#{@player.name}")
#main
  .container
    .row
      #mainbar.span9.box
        %section#profile
          .player-info
            .avatar-large.pull-left
              = image_tag @player.avatar_url, alt: "#{@player.name}"
            .info-wrapper
              .info-txt
                %h3 #{@player.name}
                %table
                  %thead
                    %tr
                      %th 国籍
                      %th 出生
                      %th 效力
                  %tbody
                    %tr
                      %td #{@player.nationality}
                      %td #{@player.day_of_birth}
                      %td #{@player.join_year} - #{@player.leave_year}
        %section#questions
          .tabbable
            %ul.nav.nav-tabs
              %li.active
                %a
                  关于他的问题
         
          - if @questions.count == 0
            #place-holder
              %p 还没提出过关于他的问题呢。
          - else
            %ul.unstyled
              - @questions.each do |q|
                %li
                  .box-q
                    %span.tags.font-white 
                      %em #{q.answers_count}
                      个回答
                    %h4
                      = link_to "#{short_question_title(q)}", question_path(q), class:"title-large font-white"
            = paginate @questions
      #sidebar.span3.box
        = render 'shared/sidebar'
        - if logged_in? && current_user.admin?
          .control
            %h4.title-small.font-white.background-dark-blue 管理
            %ul.nav.nav-list
              %li
                = link_to '编辑', edit_player_path(@player)
              %li
                = link_to '删除', @player, method: :delete, confirm: "确定删除？"
          %hr
                
          
          
