#mainbar-small.span9.box
  %h3.title-small.font-white.background-dark-blue 编辑个人资料
  #profile-settings
    - if flash[:success]
      .alert.alert-success(style="width: 35%; margin-top: 10px;")
        = flash[:success]
    .box-s.font-gray
      %h4.title-text 头像
      = image_tag current_user.avatar_url(:normal), alt: "#{current_user.name}", class: "u-avatar-small pull-left"
      #avatar-upload
        = form_for current_user, :url => settings_avatar_path, :html => {:multipart => true} do |f|
          = f.file_field :avatar
          = f.submit '上传', class: "btn btn-primary"
    %hr
    .box-s.font-gray
      %h4.title-text 个人介绍
      = form_for @user, :url => settings_profile_path do |f|
        = f.text_field :description
        = f.submit "保存", class: "btn btn-primary"
        #tips.font-red
          %span 一句话就行啦，别写太多的，太多没人看的噢。