.topbar
  .container
    .row
      .span12
        .logo-box
          .logo
            %a(href='#') Gooner.in
          %span.slogan - In Arsenal we trust.
        .pull-right
          - if logged_in?
            = link_to "#{current_user.name}", person_path(current_user.name)
            = link_to "退出", :log_out
          - else
            = link_to "登录", :log_in
            = link_to "注册", :sign_up
      

        