!!! 5
%html
  %head
    %title Gooner.in
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Trocchi'
    = csrf_meta_tags
  %body
  
  -if controller_name != 'static_pages'
    = render 'layouts/topbar'
  = yield