!!! 5
%html(lang="zh-CN")
  %head
    %title
      = full_title(yield(:title))
    
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/topbar'
    #main
      .container
        .row
          #sidebar.span3.box
            .user-profile.sidebar-wrapper
              %h4.title-small.font-white.background-dark-blue A Gooner...
              .user-avatar
                = image_tag current_user.avatar_url(:large), alt: "#{current_user.name}"
            %hr
            %ul.nav.nav-list
              %li{:class => (controller_name == 'profiles' ? 'active' : nil)}= link_to '编辑个人资料', settings_profile_path
              %li{:class => (controller_name == 'passwords' ? 'active' : nil)}= link_to '密码设置', settings_password_path
            %br
          = yield
    = render 'layouts/footer'